<table witdh="100%" cellpadding="20">
    <tr>
        <td rowspan="9" style="width:5%"></td>
    </tr>
    <tr>
        <td> <label>Sens de l'ordre</label>
            <select class="w3-select" name="option">
      <option value="" disabled selected></option>
      <option value="1">Option 1</option>
      <option value="2">Option 2</option>
      <option value="3">Option 3</option>
    </select></td>
        <td style="width:2%"></td>
        <td> <label>Quantité</label>
            <select class="w3-select" name="option">
        <option value="" disabled selected></option>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
      </select></td>
        <td rowspan="8" style="width:8%"></td>
        <td colspan="3" rowspan="4" id="external">ADD EXTERNAL INFORMATION</td>
        <td rowspan="9" style="width:5%"></td>
    </tr>

    <tr>
        <td colspan="3"><label> Place</label>
            <input class="w3-input" type="text">
        </td>

    </tr>
    <tr>
        <td><label> Date de l'opération</label>
            <i class="fa fa-calendar-o" aria-hidden="true"></i>

            <input class="w3-input" type="date"></td>
        <td style="width:2%"></td>
        <td><label> Date de l'expiration</label>
            <i class="fa fa-calendar-o" aria-hidden="true"></i>

            <input class="w3-input" type="date"></td>
    </tr>
    <tr>
        <td><label>Type d'ordre</label>
            <select class="w3-select" name="option">
          <option value="" disabled selected></option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select></td>
        <td></td>
        <td><label>Cours limite</label>
            <select class="w3-select" name="option">
          <option value="" disabled selected></option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select></td>
    </tr>
    <tr>
        <td><label>Prix</label>
            <select class="w3-select" name="option">
          <option value="" disabled selected></option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select></td>
        <td style="width:2%"></td>
        <td><label>Devise</label>
            <select class="w3-select" name="option">
          <option value="" disabled selected></option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select></td>
        <td><label>Courtier</label>
            <select class="w3-select" name="option">
          <option value="" disabled selected></option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select></td>
        <td style="width:2%"></td>
        <td><label>Media</label>
            <select class="w3-select" name="option">
          <option value="" disabled selected></option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select></td>
    </tr>
    <tr>
        <td colspan="3"><label> Donneur d'ordre </label>
            <input class="w3-input" type="text">
        </td>
        <td><label>Ordre a soigner</label>
            <select class="w3-select" name="option">
          <option value="" disabled selected></option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select></td>
        <td style="width:2%"></td>
        <td><label>Status</label>
            <select class="w3-select" name="option">
          <option value="" disabled selected></option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select></td>

    </tr>
    <tr>
        <td colspan="3"><label> Contrepartie</label>
            <input class="w3-input" type="text"></td>
        <td colspan="3" rowspan="2"> <textarea name="paragraph_text" cols="50" rows="10" placeholder="Ecrire votre commentaire ici ..."></textarea></td>
    </tr>
    <tr>
        <td colspan="3"><label> Dépositaire </label>
            <input class="w3-input" type="text"></td>

    </tr>

</table>