<table style="width:100%">
    <tr>
        <td style="width:33%"> <label>Droit d'entrée</label><br> <input type="range" [step]="100" max="100000" [(ngModel)]="val1"> {{val1/1000}} EUR</td>
        <td style="width:33%"> <label>retro/f.courtage</label><br> <input type="range" [step]="100" max="100000" [(ngModel)]="val2"> {{val2/1000}} EUR</td>
        <td style="width:33%"> <label>Frais 03</label><br> <input type="range" [step]="100" max="100000" [(ngModel)]="val3"> {{val3/1000}} EUR</td>
    </tr>
    <tr>
        <td style="width:33%"><label>Frais 04</label><br> <input type="range" [step]="100" max="100000" [(ngModel)]="val4"> {{val4/1000}} EUR</td>
        <td style="width:33%"><label>Frais 05</label><br> <input type="range" [step]="100" max="100000" [(ngModel)]="val5"> {{val5/1000}} EUR</td>
        <td style="width:33%"><label>Frais 06</label><br> <input type="range" [step]="100" max="100000" [(ngModel)]="val6"> {{val6/1000}} EUR</td>
    </tr>
    <tr>
        <td style="width:33%"><label>Frais 07</label> <br><input type="range" [step]="100" max="100000" [(ngModel)]="val7"> {{val7/1000}} EUR</td>
        <td style="width:33%"><label>Frais 08</label><br> <input type="range" [step]="100" max="100000" [(ngModel)]="val8"> {{val8/1000}} EUR</td>
        <td style="width:33%"><label>Frais 09</label><br> <input type="range" [step]="100" max="100000" [(ngModel)]="val9"> {{val9/1000}} EUR</td>
    </tr>
    <tr>
        <td style="width:33%"><label>Frais 10</label> <br><input type="range" [step]="100" max="100000" [(ngModel)]="val10"> {{val10/1000}} EUR</td>
        <td style="width:33%"><br>
            <p>total des frais</p>{{(val3+val4+val5+val6+val7+val8+val9)/1000}} EUR</td>
    </tr>
</table>