<div class="portfolioaftertable">
    <p-dataTable (change)="calculate()" [immutable]=false class="ui-datatable table" [value]="portfolioafter" [rows]="10" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" resizableColumns="true" reorderableColumns="true" [rowStyleClass]="rowStyle" [editable]="true"
        scrollable="true" reorderableColumns="true" [(selection)]="tmpPortfolioafter" editMode="cell">

        <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
        <p-column [style]="{'width':'250px'}" field="avaiable_quantity_without_blocked" header="avaiable_quantity_without_blocked"></p-column>
        <p-column [style]="{'width':'150px'}" field="blocked_quantity" header="blocked_quantity"></p-column>
        <p-column [style]="{'width':'100px'}" field="currency" header="currency">
            <ng-template let-row="rowData" pTemplate="body">
                <div *ngIf="portfolioafter.indexOf(row)===0">{{row.currency}}</div>
                <div *ngIf="portfolioafter.indexOf(row)!==0">
                    <input type="text" [(ngModel)]="row.currency">
                </div>
            </ng-template>
        </p-column>
        <p-column [style]="{'width':'150px'}" field="pourcentage_brokerage" header="%brokerage">
            <ng-template let-row="rowData" pTemplate="body">
                <div *ngIf="portfolioafter.indexOf(row)===0">{{row.pourcentage_brokerage}}</div>
                <div *ngIf="portfolioafter.indexOf(row)!==0">
                    <input type="text" [(ngModel)]="row.pourcentage_brokerage">
                </div>
            </ng-template>
        </p-column>
        <p-column [style]="{'width':'100px'}" field="brokerage" header="brokerage">
            <ng-template let-row="rowData" pTemplate="body">
                <div *ngIf="portfolioafter.indexOf(row)===0">{{row.brokerage}}</div>
                <div *ngIf="portfolioafter.indexOf(row)!==0">
                    <input type="text" [(ngModel)]="row.brokerage">
                </div>
            </ng-template>
        </p-column>
        <p-column [style]="{'width':'150px'}" field="held_quantity" header="held_quantity">
        </p-column>
        <p-column [style]="{'width':'100px'}" field="quantity" header="quantity">
            <ng-template let-row="rowData" pTemplate="body">
                <div *ngIf="portfolioafter.indexOf(row)===0">{{row.quantity}}</div>
                <div *ngIf="portfolioafter.indexOf(row)!==0">
                    <input type="text" [(ngModel)]="row.quantity">
                </div>
            </ng-template>
        </p-column>
        <p-column [style]="{'width':'150px'}" field="portfolio_number" header="portfolio_number">
            <ng-template let-row="rowData" pTemplate="body">
                <div *ngIf="portfolioafter.indexOf(row)===0">{{row.portfolio_number}}</div>
                <div *ngIf="portfolioafter.indexOf(row)!==0">
                    <input type="text" [(ngModel)]="row.portfolio_number">
                </div>
            </ng-template>
        </p-column>
        <p-column [style]="{'width':'150px'}" field="portfolio_label" header="portfolio_label"></p-column>
        <p-column [style]="{'width':'150px'}" field="clean_value" header="clean_value">
            <ng-template let-row="rowData" pTemplate="body">
                <div *ngIf="portfolioafter.indexOf(row)===0">{{row.portfolio_label}}</div>
                <div *ngIf="portfolioafter.indexOf(row)!==0">
                    <input type="text" [(ngModel)]="row.portfolio_label">
                </div>
            </ng-template>
        </p-column>
        <p-column [style]="{'width':'150px'}" field="mirror_account" header="mirror_account">
            <ng-template let-row="rowData" pTemplate="body">
                <div *ngIf="portfolioafter.indexOf(row)===0">{{row.mirror_account}}</div>
                <div *ngIf="portfolioafter.indexOf(row)!==0">
                    <input type="text" [(ngModel)]="row.mirror_account">
                </div>
            </ng-template>
        </p-column>
        <p-column [style]="{'width':'150px'}" field="bank_account" header="bank_account">
            <ng-template let-row="rowData" pTemplate="body">
                <div *ngIf="portfolioafter.indexOf(row)===0">{{row.bank_account}}</div>
                <div *ngIf="portfolioafter.indexOf(row)!==0">
                    <input type="text" [(ngModel)]="row.bank_account">
                </div>
            </ng-template>
        </p-column>
        <p-footer>
            <div class="ui-helper-clearfix" style="width:100%">
                <i style="float:right" class="fa fa-plus" (click)="showdialog()"></i>
                <i style="float:right" class="fa fa-trash" (click)="delete()"></i>
            </div>
        </p-footer>
    </p-dataTable>
</div>

<p-dialog styleClass="customDialog" header="Portfeuilles ()" [(visible)]="dialog" [responsive]="true" showEffect="fade" [modal]="true" modal="true" resizable="true" appendToBody="true" widgetVar="ex" styleClass="customDialog">
    <p-dataTable *ngIf="table" class="ui-datatable table" [value]="portfolio" [rows]="10" [pageLinks]="3" [stacked]="stacked" [rowsPerPageOptions]="[5,10,20]" resizableColumns="true" columnResizeMode="expand" reorderableColumns="true" selectionMode="single"
        [(selection)]="tmpPortfolio">
        <p-column field="account_class" header="account_class" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
        <p-column field="entity" header="entity" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
        <p-column field="account_number" header="account_number" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
        <p-column field="account_label" header="account_label" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
    </p-dataTable>
    <div *ngIf="!table">
        <table class="table2">
            <tr>
                <td><label>account_class</label></td>
                <td><input class="inline" type="text" [(ngModel)]="portfolioSearch.account_class"></td>
            </tr><br>
            <tr>
                <td><label>entity</label></td>
                <td><input class="inline" type="text" [(ngModel)]="portfolioSearch.entity"></td>
            </tr><br>
            <tr>
                <td><label>account_number</label></td>
                <td><input class="inline" type="text" [(ngModel)]="portfolioSearch.account_number"></td>
            </tr><br>
            <tr>
                <td><label>account_label</label></td>
                <td><input class="iinline" type="text" [(ngModel)]="portfolioSearch.account_label"></td>
            </tr>
        </table>
    </div>
    <p-footer>
        <br>
        <div class="line">
            <div *ngIf="table" class="search " (click)="advancedsearch()">Recherche avancée</div>
            <div *ngIf="!table" class="search " (click)="tableshow()">Resultats</div>
            <div class="choice"><i class="fa fa-check" (click)="validatedialog()"></i> &nbsp;
                <i class="fa fa-times" (click)="hidedialog()"></i> </div>
        </div>
    </p-footer>
</p-dialog>