.icon {
    position: absolute;
    margin-left: 15%;
    color: white;
    top: 18px;
    left: 170px;
    font-size: 30px;
}

.clearfix {
    line-height: 10%;
    border-bottom: 2px solid white;
    background-color: rgb(62, 62, 69);
}

.search {
    left: 450px;
    position: absolute;
    background: transparent;
    border: none;
    width: 40%;
    height: 50px;
    color: white;
    outline: none;
}

.fa {
    font-size: 18px;
}

#rectangle {
    left: 400px;
    position: absolute;
    background: rgba(179, 175, 175, 0.5);
    border: none;
    width: 40%;
    height: 50px;
}

.btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 22px;
    padding: 10px 16px;
    background: #3e3e45;
    text-decoration: none;
    width: 40%;
    float: right
}

.btn2 {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 22px;
    background: #3e3e45;
    text-decoration: none;
    width: 40%;
}

.head {
    background-color: #3e3e45;
    text-align: center;
    padding-top: 10px;
}

.float-right {
    margin-right: 5%
}

nav {
    width: 100%;
    height: 80px;
    padding: 1px;
    position: fixed;
    bottom: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}