.main {
    background: -webkit-linear-gradient(bottom, rgb(244, 244, 246) 75%, rgb(244, 244, 246) 5%, rgb(62, 62, 69) 5%, rgb(62, 62, 69) 25%);
    height: 1000px;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    color: #656675;
}

.card-header {
    font-size: 25px;
}

.card-header-here {
    color: black;
    font-size: 25px;
    font-weight: bold;
}

.btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 22px;
    padding: 10px 16px;
    background: #3e3e45;
    text-decoration: none;
}

.icon {
    position: absolute;
    margin-left: 15%;
    color: white;
    top: 18px;
    left: 190px;
    font-size: 30px;
}

.clearfix {
    line-height: 10%;
    border-bottom: 2px solid white;
}

.search {
    left: 450px;
    position: absolute;
    background: transparent;
    border: none;
    width: 40%;
    height: 50px;
    color: white;
    outline: none;
}

.fa {
    font-size: 18px;
}

#rectangle {
    left: 400px;
    position: absolute;
    background: rgba(179, 175, 175, 0.5);
    border: none;
    width: 40%;
    height: 50px;
}

.next {
    font-weight: bold;
    color: #A3A3A3;
    letter-spacing: 1pt;
    word-spacing: 2pt;
    font-size: 28px;
    text-align: center;
    font-family: arial, helvetica, sans-serif;
    line-height: 1;
    text-decoration: none;
}

.next:hover {
    color: black;
    text-decoration: underline;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}