<table witdh="100%" cellspacing="0">


    <tr>
        <td><label class="none">Order date:</label></td>
        <td><input type="date" class="w3-input"></td>
        <td><input type="text" class="w3-input"></td>
        <td style="width:2%"></td>
        <td><label>Security:</label></td>
        <td><input type="text" class="w3-input" disabled></td>
        <td><input type="text" class="w3-input" disabled></td>
    </tr>
    <tr>
        <td><label class="none"> Value date:</label></td>
        <td><input type="date" class="w3-input"></td>
        <td><input type="text" class="w3-input"></td>
        <td style="width:5%"></td>
        <td>
            <div class="inp">
                <i *ngIf="exclamation2[0]" class="fa fa-exclamation"></i>&nbsp;&nbsp;&nbsp;
                <a (click)="showdialog2(0)">broker:</a>
            </div>
        </td>
        <td><input (change)="wrong2(0)" type="text" class="w3-input" [(ngModel)]="element[0].mnemonic"></td>
        <td><input type="text" class="w3-input" [(ngModel)]="element[0].name"></td>
    </tr>
    <tr>

        <td>
            <div class="inp">
                <i *ngIf="exclamation[0]" class="fa fa-exclamation"></i>&nbsp;&nbsp;&nbsp;
                <a (click)="showdialog(0)">Operation type:</a>
            </div>
        </td>
        <td><input (change)="wrong(0)" type="text" class="w3-input" [(ngModel)]="operation[0].externalcode"></td>
        <td><input type="text" class="w3-input" [(ngModel)]="operation[0].label"></td>
        <td style="width:5%"></td>
        <td>
            <div class="inp">
                <i *ngIf="exclamation2[1]" class="fa fa-exclamation"></i>&nbsp;&nbsp;&nbsp;
                <a (click)="showdialog2(1)">Custodian:</a>
            </div>
        </td>
        <td><input type="text" class="w3-input" [(ngModel)]="element[1].mnemonic"></td>
        <td><input type="text" class="w3-input" [(ngModel)]="element[1].name"></td>
    </tr>
    <tr>
        <td>
            <div class="inp">
                <i *ngIf="exclamation[1]" class="fa fa-exclamation"></i>&nbsp;&nbsp;&nbsp;
                <a (click)="showdialog(1)">Market:</a>
            </div>
        </td>
        <td><input (change)="wrong(1)" type="text" class="w3-input" [(ngModel)]="operation[1].externalcode"></td>
        <td><input type="text" class="w3-input" [(ngModel)]="operation[1].label"></td>
        <td style="width:5%"></td>
        <td>
            <div class="inp">
                <i *ngIf="exclamation[2]" class="fa fa-exclamation"></i>&nbsp;&nbsp;&nbsp;
                <a (click)="showdialog2(2)">Counterpart:</a>
            </div>
        </td>
        <td><input (change)="wrong2(2)" type="text" class="w3-input" [(ngModel)]="element[2].mnemonic"></td>
        <td><input type="text" class="w3-input" [(ngModel)]="element[2].name"></td>
    </tr>

    <tr>
        <td><a class="none">Price:</a></td>
        <td><input type="text" class="w3-input"></td>
        <td>
            <select class="w3-select" name="option">
                              <option value="" disabled selected></option>
                              <option value="1">EURO</option>
                              <option value="2">DOLLAR</option>
                              <option value="3">DINAR</option>
                            </select></td>
        <td style="width:5%"></td>
        <td>
            <div class="inp">
                <i *ngIf="exclamation[2]" class="fa fa-exclamation"></i>&nbsp;&nbsp;&nbsp;
                <a (click)="showdialog(2)">media:</a>
            </div>
        </td>
        <td><input (change)="wrong(2)" type="text" class="w3-input" [(ngModel)]="operation[2].externalcode"></td>
        <td><input type="text" class="w3-input" [(ngModel)]="operation[2].label"></td>
    </tr>
    <tr>
        <td>
            <div class="inp">
                <i *ngIf="exclamation[3]" class="fa fa-exclamation"></i>&nbsp;&nbsp;&nbsp;
                <a (click)="showdialog(3)">Status:</a>
            </div>
        </td>
        <td><input (change)="wrong(3)" type="text" class="w3-input" [(ngModel)]="operation[3].externalcode"></td>
        <td><input type="text" class="w3-input" [(ngModel)]="operation[3].label"></td>

    </tr>
</table>
<p-dialog header="operationtype" [(visible)]="displayoperationtype">
    <div *ngIf="tableoperation">
        <p-dataTable selectionMode="single" [(selection)]="selectedoperation" class="ui-datatable table" [value]="operationtypes" [rows]="10" [pageLinks]="3" [stacked]="stacked" [rowsPerPageOptions]="[5,10,20]" resizableColumns="true" columnResizeMode="expand"
            reorderableColumns="true" selectionMode="single">
            <p-column field="externalcode" header="externalcode" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
            <p-column field="label" header="label" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>

        </p-dataTable>
        <div class="search" (click)="operationAdvancedSearch()">Advanced Search</div>
        <div class="choice"><i class="fa fa-check" (click)="validateoperation()"></i> &nbsp;
            <i class="fa fa-times" (click)="hidedialog()"></i> </div>
    </div>
    <div *ngIf="!tableoperation">
        <table>
            <tr>
                <td style="width:30%"><label>external code</label></td>
                <td><input class="inline" type="text" [(ngModel)]="operationtypessearch.externalcode"></td>
            </tr>
            <tr>
                <td style="width:30%"><label>label</label></td>
                <td><input class="inline" type="text" [(ngModel)]="operationtypessearch.label"></td>
            </tr><br>
        </table>
        <div class="search" (click)="resultatoperation()">Result </div>
    </div>
</p-dialog>
<p-dialog header="element" [(visible)]="displayelement">
    <div *ngIf="tableelement">
        <p-dataTable selectionMode="single" [(selection)]="selectedelement" class="ui-datatable table" [value]="elementtypes" [rows]="10" [pageLinks]="3" [stacked]="stacked" [rowsPerPageOptions]="[5,10,20]" resizableColumns="true" columnResizeMode="expand" reorderableColumns="true"
            selectionMode="single">
            <p-column field="mnemonic" header="mnemonic" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
            <p-column field="name" header="name" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>

        </p-dataTable>
        <div class="search " (click)="elementAdvancedSearch()">Advanced Search</div>

        <div class="choice"><i class="fa fa-check" (click)="validateedelement()"></i> &nbsp;
            <i class="fa fa-times" (click)="hidedialog2()"></i> </div>
    </div>
    <div *ngIf="!tableelement">
        <table>
            <tr>
                <td style="width:30%"><label>mnemonic</label></td>
                <td><input class="inline" type="text" [(ngModel)]="elementtypesearch.mnemonic"></td>
            </tr>
            <tr>
                <td style="width:30%"><label>name</label></td>
                <td><input class="inline" type="text" [(ngModel)]="elementtypesearch.name"></td>
            </tr><br>
        </table>
        <div class="search" (click)="resultatelement()">resultat </div>
    </div>
</p-dialog>